{
	"ConnectionInfo": {
		"ApiKey": "",
		"Endpoint": "https://localhost:8920",
		"Username": "admin"
	},
  "IgnoreListContains": [],
  "IgnoreListEquals":  [], 
	"IncludeItemTypes": ["Episode"],
	"IsTest": true,
	"RemoveOlderThanDays": 7
}
